In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('adult.csv',na_values=['?'])
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [4]:
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

# Dropping Columns with missing values

In [5]:
withoutnacols=df.dropna(axis=1)
withoutnacols

,age,fnlwgt,education,education.num,marital.status,relationship,race,sex,capital.gain,capital.loss,hours.per.week,income
0,90,77053,HS-grad,9,Widowed,Not-in-family,White,Female,0,4356,40,<=50K
1,82,132870,HS-grad,9,Widowed,Not-in-family,White,Female,0,4356,18,<=50K
2,66,186061,Some-college,10,Widowed,Unmarried,Black,Female,0,4356,40,<=50K
3,54,140359,7th-8th,4,Divorced,Unmarried,White,Female,0,3900,40,<=50K
4,41,264663,Some-college,10,Separated,Own-child,White,Female,0,3900,40,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,310152,Some-college,10,Never-married,Not-in-family,White,Male,0,0,40,<=50K
32557,27,257302,Assoc-acdm,12,Married-civ-spouse,Wife,White,Female,0,0,38,<=50K
32558,40,154374,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
32559,58,151910,HS-grad,9,Widowed,Unmarried,White,Female,0,0,40,<=50K
32560,22,201490,HS-grad,9,Never-married,Own-child,White,Male,0,0,20,<=50K

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
withoutnacols['marital.status']=le.fit_transform(withoutnacols['marital.status'])
withoutnacols['relationship']=le.fit_transform(withoutnacols['relationship'])
withoutnacols['race']=le.fit_transform(withoutnacols['race'])
withoutnacols['sex']=le.fit_transform(withoutnacols['sex'])
withoutnacols['income']=le.fit_transform(withoutnacols['income'])

<ipython-input-6-8ca0ba796ab0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnacols['marital.status']=le.fit_transform(withoutnacols['marital.status'])
<ipython-input-6-8ca0ba796ab0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnacols['relationship']=le.fit_transform(withoutnacols['relationship'])
<ipython-input-6-8ca0ba796ab0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnacols['race']=le.fit_transform(withoutnacols['race'])
<ipython-input-6-8ca0ba796ab0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnacols['sex']=le.fit_transform(withoutnacols['sex'])
<ipython-input-6-8ca0ba796ab0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnacols['income']=le.fit_transform(withoutnacols['income'])

In [7]:
withoutnacols

,age,fnlwgt,education,education.num,marital.status,relationship,race,sex,capital.gain,capital.loss,hours.per.week,income
0,90,77053,HS-grad,9,6,1,4,0,0,4356,40,0
1,82,132870,HS-grad,9,6,1,4,0,0,4356,18,0
2,66,186061,Some-college,10,6,4,2,0,0,4356,40,0
3,54,140359,7th-8th,4,0,4,4,0,0,3900,40,0
4,41,264663,Some-college,10,5,3,4,0,0,3900,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,310152,Some-college,10,4,1,4,1,0,0,40,0
32557,27,257302,Assoc-acdm,12,2,5,4,0,0,0,38,0
32558,40,154374,HS-grad,9,2,0,4,1,0,0,40,1
32559,58,151910,HS-grad,9,6,4,4,0,0,0,40,0
32560,22,201490,HS-grad,9,4,3,4,1,0,0,20,0

In [8]:
withoutnacols.isnull().sum()

age               0
fnlwgt            0
education         0
education.num     0
marital.status    0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
income            0
dtype: int64

# Splitting the data with the dropped columns

In [9]:
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics
#split dataset in features and target variable
feature_cols = ['age','fnlwgt','education.num','marital.status','relationship','race','sex','capital.gain','capital.loss','hours.per.week']
X = withoutnacols[feature_cols] # Features
y = withoutnacols.income # Target variable
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

# Applying Logistic Regression Classification on the data

In [10]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log=log.fit(X_train,y_train)
y_pred=log.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7911761695158154

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Applying Naive Bayes Classification on the data

In [11]:
from sklearn.naive_bayes import GaussianNB
gb=GaussianNB()
gb=gb.fit(X_train,y_train)
y_pred=gb.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7989558808475791

# Applying Stocastic Gradient Descent Classification on the data

In [13]:
from sklearn.linear_model import SGDClassifier
sg=SGDClassifier()
sg=sg.fit(X_train,y_train)
y_pred=sg.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7942471081994062

# Applying K Nearest Neighbors Classification on the data

In [14]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=15)
knn=knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7959873067867745

# Applying SVM Classification on the data

In [15]:
from sklearn.svm import SVC
sv=SVC(kernel="linear",C=0.025,random_state=101)
sv=sv.fit(X_train,y_train)
y_pred=sv.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7980345992425018

# Applying Decision Tree Classification on the data

In [16]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
clf=DecisionTreeClassifier()
clf=clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8115467294503019

# Applying Random Forest Classification on the data

In [17]:
from sklearn.ensemble import RandomForestClassifier
rtree=RandomForestClassifier(n_estimators=50)
rtree=rtree.fit(X_train,y_train)
y_pred=rtree.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8489098167673252

# Dropping Rows with NaN values

In [18]:
withoutnarows=df.dropna(axis=0)

In [19]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
withoutnarows['marital.status']=le.fit_transform(withoutnarows['marital.status'])
withoutnarows['relationship']=le.fit_transform(withoutnarows['relationship'])
withoutnarows['race']=le.fit_transform(withoutnarows['race'])
withoutnarows['sex']=le.fit_transform(withoutnarows['sex'])
withoutnarows['income']=le.fit_transform(withoutnarows['income'])
withoutnarows['workclass']=le.fit_transform(withoutnarows['workclass'])
withoutnarows['occupation']=le.fit_transform(withoutnarows['occupation'])
withoutnarows['native.country']=le.fit_transform(withoutnarows['native.country'])

<ipython-input-19-849d777aac2f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['marital.status']=le.fit_transform(withoutnarows['marital.status'])
<ipython-input-19-849d777aac2f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['relationship']=le.fit_transform(withoutnarows['relationship'])
<ipython-input-19-849d777aac2f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['race']=le.fit_transform(withoutnarows['race'])
<ipython-input-19-849d777aac2f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['sex']=le.fit_transform(withoutnarows['sex'])
<ipython-input-19-849d777aac2f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['income']=le.fit_transform(withoutnarows['income'])
<ipython-input-19-849d777aac2f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['workclass']=le.fit_transform(withoutnarows['workclass'])
<ipython-input-19-849d777aac2f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['occupation']=le.fit_transform(withoutnarows['occupation'])
<ipython-input-19-849d777aac2f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutnarows['native.country']=le.fit_transform(withoutnarows['native.country'])

In [20]:
withoutnarows

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,2,132870,HS-grad,9,6,3,1,4,0,0,4356,18,38,0
3,54,2,140359,7th-8th,4,0,6,4,4,0,0,3900,40,38,0
4,41,2,264663,Some-college,10,5,9,3,4,0,0,3900,40,38,0
5,34,2,216864,HS-grad,9,0,7,4,4,0,0,3770,45,38,0
6,38,2,150601,10th,6,5,0,4,4,1,0,3770,40,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,2,310152,Some-college,10,4,10,1,4,1,0,0,40,38,0
32557,27,2,257302,Assoc-acdm,12,2,12,5,4,0,0,0,38,38,0
32558,40,2,154374,HS-grad,9,2,6,0,4,1,0,0,40,38,1
32559,58,2,151910,HS-grad,9,6,0,4,4,0,0,0,40,38,0
32560,22,2,201490,HS-grad,9,4,0,3,4,1,0,0,20,38,0

# Splitting the data with dropped rows

In [21]:
#split dataset in features and target variable
feature_cols = ['age','workclass','fnlwgt','education.num','marital.status','relationship','occupation','race','sex','capital.gain','capital.loss','hours.per.week','native.country']
X = withoutnarows[feature_cols] # Features
y = withoutnarows.income # Target variable
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

# Applying Decision Tree Classification on the data

In [22]:
clf=DecisionTreeClassifier()
clf=clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8111393524146314

# Applying Random Forest Classification on the data

In [23]:
from sklearn.ensemble import RandomForestClassifier
rtree=RandomForestClassifier(n_estimators=50)
rtree=rtree.fit(X_train,y_train)
y_pred=rtree.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8553431318377721

# Applying Logistic Regression Classification on the data

In [24]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log=log.fit(X_train,y_train)
y_pred=log.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7832909713780528

# Applying Naive Bayes Classification on the data

In [25]:
from sklearn.naive_bayes import GaussianNB
gb=GaussianNB()
gb=gb.fit(X_train,y_train)
y_pred=gb.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7880428776660404

# Applying Stocastic Gradient Classification on the data

In [26]:
from sklearn.linear_model import SGDClassifier
sg=SGDClassifier()
sg=sg.fit(X_train,y_train)
y_pred=sg.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7843960658636313

# Applying KNN Classification on the data

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=15)
knn=knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.790584594982871

# Applying SVM Classification on the data

In [28]:
from sklearn.svm import SVC
sv=SVC(kernel="linear",C=0.025,random_state=101)
sv=sv.fit(X_train,y_train)
y_pred=sv.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7882638965631561

# Filling NA values with a new category, Unknown-U

In [32]:
nafilled=df.fillna('U')

In [33]:
nafilled

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,U,77053,HS-grad,9,Widowed,U,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,U,186061,Some-college,10,Widowed,U,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [37]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
nafilled['marital.status']=le.fit_transform(nafilled['marital.status'])
nafilled['relationship']=le.fit_transform(nafilled['relationship'])
nafilled['race']=le.fit_transform(nafilled['race'])
nafilled['sex']=le.fit_transform(nafilled['sex'])
nafilled['income']=le.fit_transform(nafilled['income'])
nafilled['workclass']=le.fit_transform(nafilled['workclass'])
nafilled['occupation']=le.fit_transform(nafilled['occupation'])
nafilled['native.country']=le.fit_transform(nafilled['native.country'])

In [38]:
#split dataset in features and target variable
feature_cols = ['age','workclass','fnlwgt','education.num','marital.status','relationship','occupation','race','sex','capital.gain','capital.loss','hours.per.week','native.country']
X = nafilled[feature_cols] # Features
y = nafilled.income # Target variable
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

# Applying Decision Tree classification

In [39]:
clf=DecisionTreeClassifier()
clf=clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8072474152932746

# Applying Random Forest Classification

In [40]:
from sklearn.ensemble import RandomForestClassifier
rtree=RandomForestClassifier(n_estimators=50)
rtree=rtree.fit(X_train,y_train)
y_pred=rtree.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8621148531067663

# Applying Logistic Regression Classification

In [41]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log=log.fit(X_train,y_train)
y_pred=log.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8032551950046064

# Applying Naive Bayes Classsification

In [42]:
from sklearn.naive_bayes import GaussianNB
gb=GaussianNB()
gb=gb.fit(X_train,y_train)
y_pred=gb.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7992629747159382

# Applying Stochastic Gradient Descent Classification

In [45]:
from sklearn.linear_model import SGDClassifier
sg=SGDClassifier()
sg=sg.fit(X_train,y_train)
y_pred=sg.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7691677756167469

# Applying KNN Classification

In [46]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=15)
knn=knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7958849421639881

# Applying SVM classification

In [47]:
from sklearn.svm import SVC
sv=SVC(kernel="linear",C=0.025,random_state=101)
sv=sv.fit(X_train,y_train)
y_pred=sv.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7967038591462791